body {
  margin:0px;
  padding: 0px;
  font-family:initial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --mainColor: #423630;
  --whiteningMainColor : #2b1313;
  --goldColor : #c19506a2;
  --grayColor : #b3aeae; 
   background-color: #100808;
  
 
 
  
}
a{
  text-decoration: none;
}
button:hover{
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

