.search-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
 .logo{
    background-image: url('./duck.jfif');
    background-size: cover;
    background-position-x:5px;
    width: 160px;
    height: 160px;
    border: 2px solid rgb(54, 153, 199);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.search-bar h1{
    margin-top: -1px;
    font-size: 40px;
}
.search-bar h1 span{
    color: rgb(54, 170, 199);
}
.homeSearch{
    margin-top: 10px;
    width: 750px;
    height: 70px;
    box-shadow: 0px 0px 5px 5px rgb(202, 206, 205);
    border-color: transparent;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: rgb(54, 153, 199);
}
.homeSearch input{
    width: 750px;
    height: 70px;
    border-color: transparent;
    color: white;
    font-size: 12px;
    padding: 10px;
    color: rgb(66, 64, 64);
}

.search-bar img{
    width: 50px;
    height: 50px;
   
    margin-left: 10px;
    padding: 10px 10px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    margin-left: 0px;
}
.search-bar p{
    margin-top: 5px;
    font-size:20px
}